p{
    text-align:left; 
    padding: 0 1em 0 1em;
}

.banner1{
    background-color: #ffccff;
    margin-top: 3em;
    margin-bottom: 2em;
    border-radius: 15px;
    padding: 5px 0 1em 0;
}

.banner2{
    background-color: #99ffcc;
    margin-bottom: 2em;
    border-radius: 15px;
    padding: 5px 0 1em 0;
}

.banner3{
    background-color: #66ffff;
    margin-bottom: 3em;
    border-radius: 15px;
    padding-bottom: 2em;
    padding: 5px 0 1em 0;
}

body1{
    font-family: poppins;
    font-size: 15px;
}