@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
body {
    background-color: #ecf0f1;
    position: relative;
}


/*needed to remove padding around navbar*/

html,
body {
    margin: 0;
    padding: 0;
}


/**
 CSS for Navbar 
 @navtxt    for the title of the navbar
 */

.menu {
    height: 60px;
}

.navtxt {
    float: left;
    display: inline-block;
    width: 250px;
    height: 50px;
    margin-left: 10px;
}

p.navtxt {
    font-family: 'Open Sans', Sans-serif;
    font-size: 17pt;
    font-weight: 300;
    margin-top: .5em;
    margin-left: .6em;
}

ul.nav {
    list-style-type: none;
    height: 60px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ecf0f1;
    -webkit-box-shadow: -3px 6px 47px -12px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -3px 6px 47px -12px rgba(0, 0, 0, 0.52);
    box-shadow: -3px 6px 47px -12px rgba(0, 0, 0, 0.52);
}

#nav-li {
    float: right;
    margin-top: 5px;
    font-size: 12pt;
}

.nav-li-a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #2c3e50;
    display: inline-block;
    text-align: center;
    height: 50px;
}

.nav-li-a:hover {
    color: #2980b9;
}

.btn--decision {
    border: 2px solid #e74c3c;
    border-radius: 7px;
    color: #2980b9;
    margin-top: 1px;
    padding-top: 7px;
    padding-left: 15px;
    height: 40px;
    width: 120px;
    margin-right: 10px;
}

.btn--decision:hover {
    background-color: #e74c3c;
}

.btn--decision a:hover {
    color: white;
    text-decoration: none;
}


/**
For the nav bar during the scroll
*/

.scroll-container {
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
    /*to prevent conflict from the relative element*/
    z-index: 2;
}

.scroll-inner-container {
    background-color: #ecf0f1;
    height: 60px;
    text-align: center;
    /*to prevent overflow of inline-block elemet*/
    white-space: nowrap;
}

#scrollBox {
    display: inline-block;
    /*to make the inline-block center*/
    vertical-align: top;
    height: 30px;
    width: 185px;
    margin: 10px 5px 0px 5px;
    padding-top: 2px;
    border-radius: 5px;
    font-weight: bold;
    /*shadow behind the box*/
    -webkit-box-shadow: -1px 3px 18px -3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -1px 3px 18px -3px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 3px 18px -3px rgba(0, 0, 0, 0.4);
}

.scroll-box4 {
    background-color: #e74c3c;
    color: #ecf0f1;
}


/**
For the image header under the nav
Part 1
*/

.imageholder {
    position: relative;
    z-index: 1;
    /*need to be Relative to make text on image responsive*/
    width: 100%;
    max-height: 550px;
}

.imageholder img {
    border-radius: 10px;
    margin-top: 0.5em;
    width: 100%;
    max-height: 550px;
}

.imgtxt {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    position: absolute;
    top: 10%;
    left: 18%;
    color: #3498db;
    font-size: 60pt;
}

.imgtxt2 {
    position: absolute;
    top: 32%;
    left: 30%;
    color: #545454;
    width: 560px;
    font-family: 'Lora', serif;
    font-size: 13pt;
}

.bootbtn {
    position: absolute;
    top: 45%;
    left: 47%;
}

@media ( max-width: 660px) {
    .imgtxt {
        font-family: 'Oswald', sans-serif;
        /*font-weight: 600;*/
        position: absolute;
        top: 20%;
        left: 14%;
        color: #3498db;
        font-size: 22pt;
    }
    .imgtxt2 {
        top: 40%;
        left: 17%;
        color: #545454;
        width: 300px;
        font-family: 'Lora', serif;
        font-size: 9pt;
    }
}


/**

Part 2
second card 
About the Pda
*/

.pda-description {
    /*margin: 10px;*/
    min-height: 400px;
    background-color: #ecf0f1;
}

.pda-line {
    width: 100px;
    border-bottom: 7px solid #2ecc71;
    padding-top: 35px;
}

.pda-title {}

.pda-title h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: #3f3f3f;
    padding-left: 30px;
    padding-top: 30px;
}

.pda-details {
    padding: 10px;
}

p.pda-sentence1 {
    color: #3f3f3f;
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.highlight span {
    color: #e74c3c;
    font-style: italic;
}

p.pda-sentence2 {
    padding-top: 20px;
    font-family: monospace;
    font-size: 15px;
}


/**
CARDS CSS
Part 3
*/

.container {
    padding: 1em;
    margin-left: 5%;
    width: 100%;
    /*height:33em;*/
}

.line {
    padding-top: 1pt;
    border-bottom: 4px solid #2ecc71;
    width: 15em;
}

p.remind {
    font-family: 'Lora', serif;
    font-size: 14pt;
    margin: 10pt;
}

h2.card-header-title {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: .001pt;
    font-size: 30pt;
    color: #585858;
    margin-top: 50pt;
    margin-bottom: 9pt;
}

.details-container {
    margin: 4em;
}

.card-line {
    border-bottom: 4px solid #ecf0f1;
    width: 7em;
    padding: 7px;
}

.card-style {
    width: 25em;
    height: 30em;
    background-color: #2ecc71;
    float: left;
    margin: 8pt;
    /*To smooth the transition*/
    transition: all .2s ease-in-out;
}

.card-style h1 {
    font-family: 'Merriweather', serif;
    color: #ecf0f1;
    vertical-align: middle;
    font-size: 30px;
}

.card-style:hover {
    /*giving some expansion transition*/
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.card-3 {
    clear: right;
}

.card-details {
    font-family: 'Lora', serif;
    font-size: 14pt;
    color: #ecf0f1;
    margin-top: 3em;
}

.card-button {
    border: 2px solid #ecf0f1;
    width: 4.5em;
    height: 2.5em;
    margin-top: 3em;
}

.card-button p {
    margin-top: .45em;
    font-family: sans-serif;
    font-weight: bold;
    color: #ecf0f1;
    width: 4.5em;
    height: 2.5em;
}

.card-button:hover {
    background-color: #ecf0f1
}

.card-button p:hover {
    color: #344952
}


/*MANUAL*/

.manual {
    background-color: #ecf0f1;
    min-height: 460px;
}

.title-container h3 {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.title-container p {
    font-family: 'Open Sans', Sans-serif;
    font-size: 20px;
}

.manual-button {
    margin-top: 40px;
}

.manual-container {
    margin-top: 20px;
    text-align: center;
}

#manual-card {
    width: 300px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    margin: 5px;
    color: #ecf0f1;
}

.manual-card1 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    background-color: #2ecc71;
    ;
}

.manual-card1 p {
    font-family: 'Open Sans', Sans-serif;
    font-size: 14px;
    margin-top: 10px
}

.manual-card2 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    background-color: #3498db;
}

.manual-card2 p {
    font-family: 'Open Sans', Sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.manual-card3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    background-color: #9b59b6;
}

.manual-card3 p {
    font-family: 'Open Sans', Sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.manual-card4 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    background-color: #e74c3c;
}

.manual-card4 p {
    font-family: 'Open Sans', Sans-serif;
    font-size: 14px;
    margin-top: 10px;
}


/**
FOOTER
*/

#web-footer {
    margin-top: 30px;
    padding-left: 20px;
    background-color: #34495e;
    min-height: 40px;
}

.footer-container p {
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}
