
body{
	/*background-color: #118C4E;*/
}

html, body {
 	margin:0; 
 	padding:0;
 	/*needed to remove padding around navbar*/
 } 

h2.title{
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	letter-spacing: .001pt;
	font-size: 40pt;
	color: #585858;
	margin-bottom: 9pt;
	/*border-bottom: 5px solid blue;s*/
}



ul.nav{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color:#ecf0f1;
	-webkit-box-shadow: -3px 6px 47px -12px rgba(0,0,0,0.52);
	-moz-box-shadow: -3px 6px 47px -12px rgba(0,0,0,0.52);
	box-shadow: -3px 6px 47px -12px rgba(0,0,0,0.52);
	/*border-radius: 15px;*/

}

li {
	float: right;
}
li a{
	font-family: sans-serif;
	font-weight: bold;
	text-decoration:none;
	color: #2c3e50;
	display:inline-block;
	text-align: center;
	padding: 30px 16px;

}

li a:hover{
	background-color: #95a5a6;
}
.active{
	background-color: #f1c40f;
}
.image{
	float:left;
	display: inline-block;
	width: 150px;
	height: 65;
	margin-top:2px;
	margin-left: 10px;

}
.line{
	padding-top: 1pt;
	border-bottom: 4px solid #2ecc71;
	width: 15em;	
}
p.remind{
	font-family: 'Lora', serif;
	font-size: 14pt;
}
.container{
	/*margin-top: 100px;*/
	padding:3em;
	/*margin: auto;*/
}

.Q1{
	width:23em;
	height: 30em;
	background-color: #2ecc71;
	float:left;
	margin:10pt;
	transition: all .2s ease-in-out; /*To smooth the transition*/
}
.Q1 h1{
	font-family: 'Merriweather', serif;
	color: #ecf0f1;
	vertical-align: middle;
	}
.Q1:hover{
	/*giving some expansion transition*/
	 -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.line2{
	border-bottom: 4px solid #ecf0f1;
	width: 7em;
	padding: 7px;
}
.details{
	font-family: 'Lora', serif;
	font-size: 14pt;
	color: #ecf0f1;
	margin-top: 3em;
}
.button{
	border: 2px solid #ecf0f1;
	width: 4em;
	height:2em;
	margin-top: 3em;
}
.button p{
	margin-top : .5em;
	font-family: sans-serif;
	font-weight: bold;
	color: #ecf0f1
}

.button:hover{
	background-color: #ecf0f1
	
}
.button p:hover{
	color:#34495e;
}
.imageholder{
	position: relative; 
	/*need to be Relative to make text on image responsive*/
	width: 1300px;
	height:700px;
}
.imageholder img{
	border-radius: 10px;
	margin: 1em;
	width: 1300px;
	height:700px;
}
.imgtxt{
	position: absolute;
	top:100px;
	left: 100px;
}
